/* buffer/padding stack */
.top-buffer { margin-top: 160px;}

.buffer5 { margin-top:5px; margin-bottom:5px; }
.buffer7 { margin-top:7px; margin-bottom:7px; }
.buffer10 { margin-top:10px; margin-bottom:10px;}
.buffer15 { margin-top:15px; margin-bottom:15px;}
.buffer30 { margin-top:30px; margin-bottom:30px;}


 /* importing playfair display from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

 /* color stack */

$first-color: #339989;  /* dark teal */
$second-color: #7DE2D1;  /* light teal */
$third-color: #2B2C28; /* gray gunmetal */
$light-color: #FFFAFB;  /* snow */
$dark-color: #131515;  /* liquorice */

/* Font stack */
$playfair-display: 'Playfair Display', serif;

.pagination a, em, span {
  color: $first-color;
}

.title {
  color: $first-color;
}

a {
	color: $first-color;
}

.listings {
	display: inline-block;
}

.navbar {
	background-color: $second-color;
	height: 70px;
}
.navbar-default .navbar-brand {
	color: $dark-color;
	font-size: 22px;
}

/* assigns entire website to be under this font */
body { 
	font-family: $playfair-display;
}

